# Employee Exit Surveys


<b>GOAL</b> - 
We have Employee Exit survey data from 2 Australian organizations and we want to know:
- Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
    
- Are younger employees resigning due to some kind of dissatisfaction? What about older employees?

<b>DATA</b><br> 
Datasets of 2 Australian organizations, 
- The Department of Education, Training and Employment <b>(DETE)</b> 
- and the Technical and Further Education <b>(TAFE)</b> institute in Queensland, Australia.

Dataset and some of the columns used

<b>dete_survey.csv:</b><br>
<i>ID</i>: An id used to identify the participant of the survey <br>
<i>DETE Start Date</i>: The year the person began employment with the DETE<br>
<i>Cease Date</i>: The year or month the person's employment ended<br>
<i>SeparationType</i>: The reason why the person's employment ended<br>

<b>tafe_survey.csv:</b><br>
<i>Record ID</i>: An id used to identify the participant of the survey<br>
<i>LengthofServiceOverall. Overall Length of Service at Institute (in years)</i>: The length of the person's employment (in years)<br>
<i>Reason for ceasing employment</i>: The reason why the person's employment ended<br>

In [256]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [257]:
dete_survey = pd.read_csv('dete_survey.csv')

tafe_survey = pd.read_csv('tafe_survey.csv')

### Investigating the data

In [258]:
dete_survey.head()

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970,1989,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [259]:
dete_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   822 non-null    int64
 1   SeparationType                       822 non-null    object
 2   Cease Date                           822 non-null    object
 3   DETE Start Date                      822 non-null    object
 4   Role Start Date                      822 non-null    object
 5   Position                             817 non-null    object
 6   Classification                       455 non-null    object
 7   Region                               822 non-null    object
 8   Business Unit                        126 non-null    object
 9   Employment Status                    817 non-null    object
 10  Career move to public sector         822 non-null    bool
 11  Career move to private sector        822 non-null    bool
 12  Interpersonal conflicts              822 non-null    bool
 13  Job dissatisfaction                  822 non-null    bool
 14  Dissatisfaction with the department  822 non-null    bool
 15  Physical work environment            822 non-null    bool
 16  Lack of recognition                  822 non-null    bool
 17  Lack of job security                 822 non-null    bool
 18  Work location                        822 non-null    bool
 19  Employment conditions                822 non-null    bool
 20  Maternity/family                     822 non-null    bool
 21  Relocation                           822 non-null    bool
 22  Study/Travel                         822 non-null    bool
 23  Ill Health                           822 non-null    bool
 24  Traumatic incident                   822 non-null    bool
 25  Work life balance                    822 non-null    bool
 26  Workload                             822 non-null    bool
 27  None of the above                    822 non-null    bool
 28  Professional Development             808 non-null    object
 29  Opportunities for promotion          735 non-null    object
 30  Staff morale                         816 non-null    object
 31  Workplace issue                      788 non-null    object
 32  Physical environment                 817 non-null    object
 33  Worklife balance                     815 non-null    object
 34  Stress and pressure support          810 non-null    object
 35  Performance of supervisor            813 non-null    object
 36  Peer support                         812 non-null    object
 37  Initiative                           813 non-null    object
 38  Skills                               811 non-null    object
 39  Coach                                767 non-null    object
 40  Career Aspirations                   746 non-null    object
 41  Feedback                             792 non-null    object
 42  Further PD                           768 non-null    object
 43  Communication                        814 non-null    object
 44  My say                               812 non-null    object
 45  Information                          816 non-null    object
 46  Kept informed                        813 non-null    object
 47  Wellness programs                    766 non-null    object
 48  Health & Safety                      793 non-null    object
 49  Gender                               798 non-null    object
 50  Age                                  811 non-null    object
 51  Aboriginal                           16 non-null     object
 52  Torres Strait                        3 non-null      object
 53  South Sea                            7 non-null      object
 54  Disability                           23 non-null     object
 55  NESB                                 32 non-null     object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB

In [260]:
dete_survey.loc[:,'Cease Date'].value_counts()

2012          344
2013          200
01/2014        43
12/2013        40
Not Stated     34
09/2013        34
06/2013        27
07/2013        22
10/2013        20
11/2013        16
08/2013        12
05/2013         7
05/2012         6
04/2014         2
02/2014         2
07/2014         2
04/2013         2
08/2012         2
09/2010         1
07/2012         1
2010            1
07/2006         1
2014            1
09/2014         1
11/2012         1
Name: Cease Date, dtype: int64

In [261]:
dete_survey.loc[:,'DETE Start Date'].value_counts()

Not Stated    73
2011          40
2007          34
2008          31
2012          27
2010          27
2009          24
2006          23
2013          21
1970          21
1975          21
1990          20
2005          20
1999          19
1996          19
2004          18
1992          18
2000          18
1991          18
1989          17
2003          15
2002          15
1988          15
1976          15
1978          15
1997          14
1998          14
1974          14
1995          14
1979          14
1980          14
1993          13
1972          12
1986          12
1977          11
1994          10
1969          10
1971          10
2001          10
1984          10
1981           9
1983           9
1973           8
1985           8
1987           7
1963           4
1982           4
1968           3
1967           2
1965           1
1966           1
Name: DETE Start Date, dtype: int64

In [262]:
dete_survey.SeparationType.value_counts()

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: SeparationType, dtype: int64

<b>Based on Above required Clean up on DETE dataset includes:</b>

- Reset index
- Date fields are of type object and format is different across entries on the Cease Date field. Some entries are month/yr other entries are year only. the Start Date field seems fine<br>
    Also, 'Not stated' is essentially null or NA. would need to deal with that for both columns
- May need to rename a few columns to easily use them in syntax
- Lots of Null entries across various columns would need to be dealt with

In [263]:
tafe_survey.loc[:,['CESSATION YEAR','Reason for ceasing employment','LengthofServiceOverall. Overall Length of Service at Institute (in years)']].head()

,CESSATION YEAR,Reason for ceasing employment,LengthofServiceOverall. Overall Length of Service at Institute (in years)
0,2010.0,Contract Expired,1-2
1,2010.0,Retirement,NaN
2,2010.0,Retirement,NaN
3,2010.0,Resignation,NaN
4,2010.0,Resignation,3-4

In [264]:
tafe_survey.loc[:,['CESSATION YEAR','Reason for ceasing employment','LengthofServiceOverall. Overall Length of Service at Institute (in years)']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 3 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   CESSATION YEAR                                                             695 non-null    float64
 1   Reason for ceasing employment                                              701 non-null    object
 2   LengthofServiceOverall. Overall Length of Service at Institute (in years)  596 non-null    object
dtypes: float64(1), object(2)
memory usage: 16.6+ KB

In [265]:
tafe_survey.loc[:,'CESSATION YEAR'].value_counts()

2011.0    268
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: CESSATION YEAR, dtype: int64

In [266]:
tafe_survey.loc[:,'LengthofServiceOverall. Overall Length of Service at Institute (in years)'].value_counts()

Less than 1 year      147
1-2                   102
3-4                    96
11-20                  89
More than 20 years     71
5-6                    48
7-10                   43
Name: LengthofServiceOverall. Overall Length of Service at Institute (in years), dtype: int64

In [267]:
tafe_survey.loc[:,'LengthofServiceOverall. Overall Length of Service at Institute (in years)'].isnull().sum()

106

In [268]:
tafe_survey.loc[:,'Reason for ceasing employment'].value_counts()

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: Reason for ceasing employment, dtype: int64

<b>Clean up on TAFE dataset</b>

- 'Cessation year' date format may need to be fixed.
- May need to rename a few columns to easily use them in syntax.
- Null entries across 'Cessation year and length of service' needs to be fixed.

================================================================================================================

### Data Cleaning

In [269]:
# Drop unwanted columns


dete_survey.drop(columns=dete_survey.iloc[:,28:49],inplace=True)

tafe_survey.drop(columns=tafe_survey.iloc[:,17:66],inplace=True)

#### Renaming columns

We need to have standardized column names across dete and tafe to be able to merge both data sets.


Rename as follows:

    'Record ID': 'id'
    'CESSATION YEAR': 'cease_date'
    'Reason for ceasing employment': 'separationtype'
    'Gender. What is your Gender?': 'gender'
    'CurrentAge. Current Age': 'age'
    'Employment Type. Employment Type': 'employment_status'
    'Classification. Classification': 'position'
    'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service'
    'LengthofServiceCurrent. Length of Service at current workplace (in years)': 'role_service'

In [270]:
# Fixing Columns on Tafe

tafe_survey.columns

Index(['Record ID', 'Institute', 'WorkArea', 'CESSATION YEAR',
       'Reason for ceasing employment',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE',
       'Gender. What is your Gender?', 'CurrentAge. Current Age',
       'Employment Type. Employment Type', 'Classification. Classification',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)'],
      dtype='object')

In [271]:
# make all lower case
# Strip out leading and trailing spaces
# replace middle spaces with underscore 


tafe_survey.columns = tafe_survey.columns.str.strip().str.replace(' ','_').str.strip('.').str.lower()

In [272]:
tafe_survey.columns

Index(['record_id', 'institute', 'workarea', 'cessation_year',
       'reason_for_ceasing_employment',
       'contributing_factors._career_move_-_public_sector',
       'contributing_factors._career_move_-_private_sector',
       'contributing_factors._career_move_-_self-employment',
       'contributing_factors._ill_health',
       'contributing_factors._maternity/family',
       'contributing_factors._dissatisfaction',
       'contributing_factors._job_dissatisfaction',
       'contributing_factors._interpersonal_conflict',
       'contributing_factors._study', 'contributing_factors._travel',
       'contributing_factors._other', 'contributing_factors._none',
       'gender._what_is_your_gender?', 'currentage._current_age',
       'employment_type._employment_type', 'classification._classification',
       'lengthofserviceoverall._overall_length_of_service_at_institute_(in_years)',
       'lengthofservicecurrent._length_of_service_at_current_workplace_(in_years)'],
      dtype='object')

In [273]:
tafe_survey.rename(columns={'record_id':'id','reason_for_ceasing_employment':'separationtype','cessation_year':'cease_date',
                           'gender._what_is_your_gender?':'gender', 'employment_type._employment_type':'employment_status', 
                           'currentage._current_age':'age','classification._classification':'position', 
                            'lengthofserviceoverall._overall_length_of_service_at_institute_(in_years)':'institute_service',
                           'lengthofservicecurrent._length_of_service_at_current_workplace_(in_years)': 'role_service'}, inplace=True)

In [274]:
tafe_survey.columns

Index(['id', 'institute', 'workarea', 'cease_date', 'separationtype',
       'contributing_factors._career_move_-_public_sector',
       'contributing_factors._career_move_-_private_sector',
       'contributing_factors._career_move_-_self-employment',
       'contributing_factors._ill_health',
       'contributing_factors._maternity/family',
       'contributing_factors._dissatisfaction',
       'contributing_factors._job_dissatisfaction',
       'contributing_factors._interpersonal_conflict',
       'contributing_factors._study', 'contributing_factors._travel',
       'contributing_factors._other', 'contributing_factors._none', 'gender',
       'age', 'employment_status', 'position', 'institute_service',
       'role_service'],
      dtype='object')

In [275]:
# Fixing Columns on Dete

dete_survey.columns

Index(['ID', 'SeparationType', 'Cease Date', 'DETE Start Date',
       'Role Start Date', 'Position', 'Classification', 'Region',
       'Business Unit', 'Employment Status', 'Career move to public sector',
       'Career move to private sector', 'Interpersonal conflicts',
       'Job dissatisfaction', 'Dissatisfaction with the department',
       'Physical work environment', 'Lack of recognition',
       'Lack of job security', 'Work location', 'Employment conditions',
       'Maternity/family', 'Relocation', 'Study/Travel', 'Ill Health',
       'Traumatic incident', 'Work life balance', 'Workload',
       'None of the above', 'Gender', 'Age', 'Aboriginal', 'Torres Strait',
       'South Sea', 'Disability', 'NESB'],
      dtype='object')

In [276]:
dete_survey.columns= dete_survey.columns.str.strip().str.replace(' ','_').str.lower()

In [277]:
tafe_survey.loc[:,['id','cease_date','separationtype','gender','age','employment_status','position',
                   'institute_service','role_service']]

,id,cease_date,separationtype,gender,age,employment_status,position,institute_service,role_service
0,6.341330e+17,2010.0,Contract Expired,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,2010.0,Retirement,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,2010.0,Retirement,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,2010.0,Resignation,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4
...,...,...,...,...,...,...,...,...,...
697,6.350668e+17,2013.0,Resignation,Male,51-55,Temporary Full-time,Teacher (including LVT),1-2,1-2
698,6.350677e+17,2013.0,Resignation,NaN,NaN,NaN,NaN,NaN,NaN
699,6.350704e+17,2013.0,Resignation,Female,51-55,Permanent Full-time,Teacher (including LVT),5-6,1-2
700,6.350712e+17,2013.0,Contract Expired,Female,41 45,Temporary Full-time,Professional Officer (PO),1-2,1-2
701,6.350730e+17,2013.0,Resignation,Female,26 30,Contract/casual,Administration (AO),3-4,1-2

In [278]:
dete_survey.loc[:,['id','cease_date','separationtype','gender','age','employment_status','position',
                   'dete_start_date']]

,id,cease_date,separationtype,gender,age,employment_status,position,dete_start_date
0,1,08/2012,Ill Health Retirement,Male,56-60,Permanent Full-time,Public Servant,1984
1,2,08/2012,Voluntary Early Retirement (VER),Male,56-60,Permanent Full-time,Public Servant,Not Stated
2,3,05/2012,Voluntary Early Retirement (VER),Male,61 or older,Permanent Full-time,Schools Officer,2011
3,4,05/2012,Resignation-Other reasons,Female,36-40,Permanent Full-time,Teacher,2005
4,5,05/2012,Age Retirement,Female,61 or older,Permanent Full-time,Head of Curriculum/Head of Special Education,1970
...,...,...,...,...,...,...,...,...
817,819,02/2014,Age Retirement,Female,56-60,Permanent Part-time,Teacher,1977
818,820,01/2014,Age Retirement,Male,51-55,Permanent Full-time,Teacher,1980
819,821,01/2014,Resignation-Move overseas/interstate,Female,31-35,Permanent Full-time,Public Servant,2009
820,822,12/2013,Ill Health Retirement,Female,41-45,Permanent Full-time,Teacher,2001
821,823,12/2013,Resignation-Move overseas/interstate,NaN,NaN,NaN,Teacher Aide,Not Stated

In [279]:
# Fix the 'not stated' values in dete dataset - 'cease date' and 'dete start date' 

dete_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   id                                   822 non-null    int64
 1   separationtype                       822 non-null    object
 2   cease_date                           822 non-null    object
 3   dete_start_date                      822 non-null    object
 4   role_start_date                      822 non-null    object
 5   position                             817 non-null    object
 6   classification                       455 non-null    object
 7   region                               822 non-null    object
 8   business_unit                        126 non-null    object
 9   employment_status                    817 non-null    object
 10  career_move_to_public_sector         822 non-null    bool
 11  career_move_to_private_sector        822 non-null    bool
 12  interpersonal_conflicts              822 non-null    bool
 13  job_dissatisfaction                  822 non-null    bool
 14  dissatisfaction_with_the_department  822 non-null    bool
 15  physical_work_environment            822 non-null    bool
 16  lack_of_recognition                  822 non-null    bool
 17  lack_of_job_security                 822 non-null    bool
 18  work_location                        822 non-null    bool
 19  employment_conditions                822 non-null    bool
 20  maternity/family                     822 non-null    bool
 21  relocation                           822 non-null    bool
 22  study/travel                         822 non-null    bool
 23  ill_health                           822 non-null    bool
 24  traumatic_incident                   822 non-null    bool
 25  work_life_balance                    822 non-null    bool
 26  workload                             822 non-null    bool
 27  none_of_the_above                    822 non-null    bool
 28  gender                               798 non-null    object
 29  age                                  811 non-null    object
 30  aboriginal                           16 non-null     object
 31  torres_strait                        3 non-null      object
 32  south_sea                            7 non-null      object
 33  disability                           23 non-null     object
 34  nesb                                 32 non-null     object
dtypes: bool(18), int64(1), object(16)
memory usage: 123.7+ KB

In [280]:
dete_survey.cease_date.value_counts()

2012          344
2013          200
01/2014        43
12/2013        40
Not Stated     34
09/2013        34
06/2013        27
07/2013        22
10/2013        20
11/2013        16
08/2013        12
05/2013         7
05/2012         6
04/2014         2
02/2014         2
07/2014         2
04/2013         2
08/2012         2
09/2010         1
07/2012         1
2010            1
07/2006         1
2014            1
09/2014         1
11/2012         1
Name: cease_date, dtype: int64

In [281]:
dete_survey.dete_start_date.value_counts()

Not Stated    73
2011          40
2007          34
2008          31
2012          27
2010          27
2009          24
2006          23
2013          21
1970          21
1975          21
1990          20
2005          20
1999          19
1996          19
2004          18
1992          18
2000          18
1991          18
1989          17
2003          15
2002          15
1988          15
1976          15
1978          15
1997          14
1998          14
1974          14
1995          14
1979          14
1980          14
1993          13
1972          12
1986          12
1977          11
1994          10
1969          10
1971          10
2001          10
1984          10
1981           9
1983           9
1973           8
1985           8
1987           7
1963           4
1982           4
1968           3
1967           2
1965           1
1966           1
Name: dete_start_date, dtype: int64

In [282]:
dete_survey.loc[dete_survey.cease_date=='Not Stated','cease_date'] = np.nan

dete_survey.loc[dete_survey.dete_start_date=='Not Stated','dete_start_date'] = np.nan

In [283]:
dete_survey.cease_date.value_counts()

2012       344
2013       200
01/2014     43
12/2013     40
09/2013     34
06/2013     27
07/2013     22
10/2013     20
11/2013     16
08/2013     12
05/2013      7
05/2012      6
04/2014      2
02/2014      2
07/2014      2
04/2013      2
08/2012      2
09/2010      1
07/2012      1
2010         1
07/2006      1
2014         1
09/2014      1
11/2012      1
Name: cease_date, dtype: int64

In [284]:
dete_survey.dete_start_date.value_counts()

2011    40
2007    34
2008    31
2012    27
2010    27
2009    24
2006    23
1970    21
1975    21
2013    21
2005    20
1990    20
1996    19
1999    19
2000    18
1991    18
2004    18
1992    18
1989    17
2003    15
1988    15
2002    15
1978    15
1976    15
1997    14
1995    14
1998    14
1980    14
1979    14
1974    14
1993    13
1972    12
1986    12
1977    11
1984    10
2001    10
1969    10
1994    10
1971    10
1981     9
1983     9
1973     8
1985     8
1987     7
1982     4
1963     4
1968     3
1967     2
1965     1
1966     1
Name: dete_start_date, dtype: int64

In [285]:
dete_survey.info()              #Notice that non-null Count has now changed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   id                                   822 non-null    int64
 1   separationtype                       822 non-null    object
 2   cease_date                           788 non-null    object
 3   dete_start_date                      749 non-null    object
 4   role_start_date                      822 non-null    object
 5   position                             817 non-null    object
 6   classification                       455 non-null    object
 7   region                               822 non-null    object
 8   business_unit                        126 non-null    object
 9   employment_status                    817 non-null    object
 10  career_move_to_public_sector         822 non-null    bool
 11  career_move_to_private_sector        822 non-null    bool
 12  interpersonal_conflicts              822 non-null    bool
 13  job_dissatisfaction                  822 non-null    bool
 14  dissatisfaction_with_the_department  822 non-null    bool
 15  physical_work_environment            822 non-null    bool
 16  lack_of_recognition                  822 non-null    bool
 17  lack_of_job_security                 822 non-null    bool
 18  work_location                        822 non-null    bool
 19  employment_conditions                822 non-null    bool
 20  maternity/family                     822 non-null    bool
 21  relocation                           822 non-null    bool
 22  study/travel                         822 non-null    bool
 23  ill_health                           822 non-null    bool
 24  traumatic_incident                   822 non-null    bool
 25  work_life_balance                    822 non-null    bool
 26  workload                             822 non-null    bool
 27  none_of_the_above                    822 non-null    bool
 28  gender                               798 non-null    object
 29  age                                  811 non-null    object
 30  aboriginal                           16 non-null     object
 31  torres_strait                        3 non-null      object
 32  south_sea                            7 non-null      object
 33  disability                           23 non-null     object
 34  nesb                                 32 non-null     object
dtypes: bool(18), int64(1), object(16)
memory usage: 123.7+ KB

<b> Data cleaning work so far: </b>

 - Unwanted columns dropped
 - columns renamed to match in both data sets
 - Removed 'non stated' in cease_date and dete_start date columns column
 
  To do:
   - fix the years in date columns
       - cease date in tafe dataset has format 2010.0
       - cease date in dete dataset has format 12/2013 for some entries. Not all.
      <br>We want dates to be just YYYY for both of these datasets
       
   - exclude any abnormal dates
   - get data set of just resignations. Because thats our goal. i.e people resigning (we don't care about retirements etc.)

In [286]:
dete_survey.cease_date.value_counts()

2012       344
2013       200
01/2014     43
12/2013     40
09/2013     34
06/2013     27
07/2013     22
10/2013     20
11/2013     16
08/2013     12
05/2013      7
05/2012      6
04/2014      2
02/2014      2
07/2014      2
04/2013      2
08/2012      2
09/2010      1
07/2012      1
2010         1
07/2006      1
2014         1
09/2014      1
11/2012      1
Name: cease_date, dtype: int64

In [287]:
tafe_survey.cease_date.value_counts()

2011.0    268
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: cease_date, dtype: int64

In [288]:
#Tafe data set 
# Fixing 2011.0 to just get 2011
# we can use the function Series.str.replace('.0','')

        # OR just to try
# we can define a function that cleans up all entries in the dataset - we'll use apply, map or applymap for it
        # Either apply() or map() will apply the function element wise to the the Series.
                    # i.e. each element is passed as an argument to the function
        #applymap() can apply the function multiple columns at one time.

        
# type(tafe_survey.cease_date) -- Pandas core series
# But type is float. so need to change it to object i.e. string

In [289]:
# We now clean up the entries in tafe_survey column cease_date

tafe_survey.cease_date.dtype

dtype('float64')

In [290]:
tafe_survey.cease_date = tafe_survey.cease_date.astype(str)

In [291]:
tafe_survey.cease_date.dtype           #its now of type Object

dtype('O')

In [292]:
tafe_survey.cease_date.value_counts()

2011.0    268
2012.0    235
2010.0    103
2013.0     85
nan         7
2009.0      4
Name: cease_date, dtype: int64

In [293]:
#Cleaning up using map

def tafe_cease_cleanup_fn(series_entry):
    return(series_entry.replace('.0',''))


tafe_survey.cease_date = tafe_survey.cease_date.map(tafe_cease_cleanup_fn)

In [294]:
tafe_survey.cease_date.value_counts()

2011    268
2012    235
2010    103
2013     85
nan       7
2009      4
Name: cease_date, dtype: int64

In [295]:
#Cleaning Cease date in dete_survey

dete_survey.cease_date.value_counts()

2012       344
2013       200
01/2014     43
12/2013     40
09/2013     34
06/2013     27
07/2013     22
10/2013     20
11/2013     16
08/2013     12
05/2013      7
05/2012      6
04/2014      2
02/2014      2
07/2014      2
04/2013      2
08/2012      2
09/2010      1
07/2012      1
2010         1
07/2006      1
2014         1
09/2014      1
11/2012      1
Name: cease_date, dtype: int64

In [296]:
dete_survey.cease_date.head(12)

0     08/2012
1     08/2012
2     05/2012
3     05/2012
4     05/2012
5     05/2012
6     05/2012
7     05/2012
8     07/2012
9        2012
10       2012
11       2012
Name: cease_date, dtype: object

In [297]:
# dete dataset fixing cease_date column

pattern = r"([0-9]{2}/)?([0-9]{4}?)"

dete_survey.cease_date = dete_survey.cease_date.str.extract(pattern)[1]

In [298]:
dete_survey.cease_date.head(2)

0    2012
1    2012
Name: cease_date, dtype: object

In [299]:
dete_survey.cease_date.value_counts()

2013    380
2012    354
2014     51
2010      2
2006      1
Name: cease_date, dtype: int64

#### Create datasets of just resignations

In [300]:
#getting resignation entries for tafe_survey

tafe_survey.separationtype.value_counts()

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: separationtype, dtype: int64

In [301]:
tafe_survey_resig_df = tafe_survey.loc[tafe_survey.separationtype=='Resignation',:].copy()

In [302]:
tafe_survey_resig_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 3 to 701
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   id                                                   340 non-null    float64
 1   institute                                            340 non-null    object
 2   workarea                                             340 non-null    object
 3   cease_date                                           340 non-null    object
 4   separationtype                                       340 non-null    object
 5   contributing_factors._career_move_-_public_sector    332 non-null    object
 6   contributing_factors._career_move_-_private_sector   332 non-null    object
 7   contributing_factors._career_move_-_self-employment  332 non-null    object
 8   contributing_factors._ill_health                     332 non-null    object
 9   contributing_factors._maternity/family               332 non-null    object
 10  contributing_factors._dissatisfaction                332 non-null    object
 11  contributing_factors._job_dissatisfaction            332 non-null    object
 12  contributing_factors._interpersonal_conflict         332 non-null    object
 13  contributing_factors._study                          332 non-null    object
 14  contributing_factors._travel                         332 non-null    object
 15  contributing_factors._other                          332 non-null    object
 16  contributing_factors._none                           332 non-null    object
 17  gender                                               290 non-null    object
 18  age                                                  290 non-null    object
 19  employment_status                                    290 non-null    object
 20  position                                             290 non-null    object
 21  institute_service                                    290 non-null    object
 22  role_service                                         290 non-null    object
dtypes: float64(1), object(22)
memory usage: 63.8+ KB

In [303]:
#getting resignation entries for dete_survey

dete_survey.separationtype.value_counts()

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: separationtype, dtype: int64

In [304]:
# Note -- we combine filters using bitwise or .. other OR would not work

dete_survey.loc[(dete_survey.separationtype=='Resignation-Other reasons') 
                | (dete_survey.separationtype=='Resignation-Other employer')
                | (dete_survey.separationtype=='Resignation-Move overseas/interstate'), : ].separationtype.value_counts()

Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Name: separationtype, dtype: int64

In [305]:
dete_survey_resig_df = dete_survey.loc[(dete_survey.separationtype=='Resignation-Other reasons') 
                | (dete_survey.separationtype=='Resignation-Other employer')
                | (dete_survey.separationtype=='Resignation-Move overseas/interstate'), : ].copy()

In [306]:
dete_survey_resig_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 3 to 821
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   id                                   311 non-null    int64
 1   separationtype                       311 non-null    object
 2   cease_date                           300 non-null    object
 3   dete_start_date                      283 non-null    object
 4   role_start_date                      311 non-null    object
 5   position                             308 non-null    object
 6   classification                       161 non-null    object
 7   region                               311 non-null    object
 8   business_unit                        32 non-null     object
 9   employment_status                    307 non-null    object
 10  career_move_to_public_sector         311 non-null    bool
 11  career_move_to_private_sector        311 non-null    bool
 12  interpersonal_conflicts              311 non-null    bool
 13  job_dissatisfaction                  311 non-null    bool
 14  dissatisfaction_with_the_department  311 non-null    bool
 15  physical_work_environment            311 non-null    bool
 16  lack_of_recognition                  311 non-null    bool
 17  lack_of_job_security                 311 non-null    bool
 18  work_location                        311 non-null    bool
 19  employment_conditions                311 non-null    bool
 20  maternity/family                     311 non-null    bool
 21  relocation                           311 non-null    bool
 22  study/travel                         311 non-null    bool
 23  ill_health                           311 non-null    bool
 24  traumatic_incident                   311 non-null    bool
 25  work_life_balance                    311 non-null    bool
 26  workload                             311 non-null    bool
 27  none_of_the_above                    311 non-null    bool
 28  gender                               302 non-null    object
 29  age                                  306 non-null    object
 30  aboriginal                           7 non-null      object
 31  torres_strait                        0 non-null      object
 32  south_sea                            3 non-null      object
 33  disability                           8 non-null      object
 34  nesb                                 9 non-null      object
dtypes: bool(18), int64(1), object(16)
memory usage: 49.2+ KB

#### Creating the institute_service column in dete dataset
basically years of service

In [307]:
dete_survey_resig_df.loc[:,['cease_date','dete_start_date']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 3 to 821
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cease_date       300 non-null    object
 1   dete_start_date  283 non-null    object
dtypes: object(2)
memory usage: 7.3+ KB

In [308]:
dete_survey_resig_df['institute_service'] = dete_survey_resig_df.cease_date.astype(float) - dete_survey_resig_df.dete_start_date.astype(float)

In [309]:
dete_survey_resig_df.loc[:,['dete_start_date','cease_date','institute_service']]#.info()

    dete_start_date cease_date  institute_service
3              2005       2012                7.0
5              1994       2012               18.0
8              2009       2012                3.0
9              1997       2012               15.0
11             2009       2012                3.0
..              ...        ...                ...
808            2010       2013                3.0
815            2012       2014                2.0
816            2012       2014                2.0
819            2009       2014                5.0
821             NaN       2013                NaN

[311 rows x 3 columns]

In [310]:
tafe_survey_resig_df.institute_service.value_counts()

Less than 1 year      73
1-2                   64
3-4                   63
5-6                   33
11-20                 26
7-10                  21
More than 20 years    10
Name: institute_service, dtype: int64

<b> We will be aggregating our data based on the Institute_service field.</b> <br>
So looking at resignation factors based on number of years in employment.

<b>Because going back to the original question we want to know if employees are leaving because they are dissatisfied. And how does that vary based on number of years they've worked</b>

#### Indentifying Persons that we dissatisfied

Basicall we want to look at

    tafe_survey_resig:
        Contributing Factors. Dissatisfaction
        Contributing Factors. Job Dissatisfaction

    dete_survey_resig:
        job_dissatisfaction
        dissatisfaction_with_the_department
        physical_work_environment
        lack_of_recognition
        lack_of_job_security
        work_location
        employment_conditions
        work_life_balance
        workload

and based on this we will create a new column that says for that person if they were dissatisfied or not

In [311]:
# Identifying dissatisfied employees on Tafe


tafe_survey_resig_df.loc[:,['contributing_factors._dissatisfaction','contributing_factors._job_dissatisfaction']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 3 to 701
Data columns (total 2 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   contributing_factors._dissatisfaction      332 non-null    object
 1   contributing_factors._job_dissatisfaction  332 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB

In [312]:
tafe_survey_resig_df.loc[:,'contributing_factors._dissatisfaction'].value_counts()

-                                         277
Contributing Factors. Dissatisfaction      55
Name: contributing_factors._dissatisfaction, dtype: int64

In [313]:
tafe_survey_resig_df.loc[:,'contributing_factors._job_dissatisfaction'].value_counts()

-                      270
Job Dissatisfaction     62
Name: contributing_factors._job_dissatisfaction, dtype: int64

In [314]:
tafe_survey_resig_df.loc[:,['contributing_factors._dissatisfaction','contributing_factors._job_dissatisfaction']].head(20)

,contributing_factors._dissatisfaction,contributing_factors._job_dissatisfaction
3,-,-
4,-,-
5,-,-
6,-,-
7,-,-
8,-,-
9,-,-
10,-,-
13,-,-
14,Contributing Factors. Dissatisfaction,Job Dissatisfaction
15,-,-
16,NaN,NaN
17,-,Job Dissatisfaction
18,NaN,NaN
19,-,-
20,Contributing Factors. Dissatisfaction,Job Dissatisfaction
21,-,-
22,-,-
23,-,-
24,-,-

In [315]:
tafe_survey_resig_df.loc[:,'contributing_factors._dissatisfaction'].value_counts().index

Index(['-', 'Contributing Factors. Dissatisfaction '], dtype='object')

In [316]:
tafe_survey_resig_df.loc[tafe_survey_resig_df['contributing_factors._dissatisfaction']=='Contributing Factors. Dissatisfaction ','contributing_factors._dissatisfaction'].shape

(55,)

In [317]:
tafe_survey_resig_df.loc[tafe_survey_resig_df['contributing_factors._dissatisfaction']!='Contributing Factors. Dissatisfaction ','contributing_factors._dissatisfaction'] = False

tafe_survey_resig_df.loc[tafe_survey_resig_df['contributing_factors._dissatisfaction']=='Contributing Factors. Dissatisfaction ','contributing_factors._dissatisfaction'] = True

In [318]:
tafe_survey_resig_df.loc[:,'contributing_factors._dissatisfaction'].value_counts()

False    285
True      55
Name: contributing_factors._dissatisfaction, dtype: int64

In [319]:
tafe_survey_resig_df.loc[:,'contributing_factors._job_dissatisfaction'].value_counts().index

Index(['-', 'Job Dissatisfaction'], dtype='object')

In [320]:
tafe_survey_resig_df.loc[tafe_survey_resig_df['contributing_factors._job_dissatisfaction']!='Job Dissatisfaction','contributing_factors._job_dissatisfaction'] = False

tafe_survey_resig_df.loc[tafe_survey_resig_df['contributing_factors._job_dissatisfaction']=='Job Dissatisfaction','contributing_factors._job_dissatisfaction'] = True

In [321]:
tafe_survey_resig_df.loc[:,'contributing_factors._job_dissatisfaction'].value_counts()

False    278
True      62
Name: contributing_factors._job_dissatisfaction, dtype: int64

In [322]:
tafe_survey_resig_df.loc[:,['contributing_factors._dissatisfaction','contributing_factors._job_dissatisfaction']].head(20)

,contributing_factors._dissatisfaction,contributing_factors._job_dissatisfaction
3,False,False
4,False,False
5,False,False
6,False,False
7,False,False
8,False,False
9,False,False
10,False,False
13,False,False
14,True,True
15,False,False
16,False,False
17,False,True
18,False,False
19,False,False
20,True,True
21,False,False
22,False,False
23,False,False
24,False,False

In [323]:
#Creating a new column, essentially a flag that says if employee is dissatisfied or not based on above 2 columns

# ANY() Returns whether any element is True, potentially over an axis.

tafe_survey_resig_df['dissatisfied'] = tafe_survey_resig_df.loc[:,['contributing_factors._dissatisfaction','contributing_factors._job_dissatisfaction']].any(axis='columns')

In [324]:
tafe_survey_resig_df.loc[:,['contributing_factors._dissatisfaction','contributing_factors._job_dissatisfaction','dissatisfied']].head(20)

,contributing_factors._dissatisfaction,contributing_factors._job_dissatisfaction,dissatisfied
3,False,False,False
4,False,False,False
5,False,False,False
6,False,False,False
7,False,False,False
8,False,False,False
9,False,False,False
10,False,False,False
13,False,False,False
14,True,True,True
15,False,False,False
16,False,False,False
17,False,True,True
18,False,False,False
19,False,False,False
20,True,True,True
21,False,False,False
22,False,False,False
23,False,False,False
24,False,False,False

In [325]:
### So we identifed all dissatisfied Employee resignations in Tafe.
# We do the same for dete.

#     job_dissatisfaction
#     dissatisfaction_with_the_department
#     physical_work_environment
#     lack_of_recognition
#     lack_of_job_security
#     work_location
#     employment_conditions
#     work_life_balance
#     workload

#Ideally we could have used APPLYMAP for tafe DF changing values to True/False

In [326]:
dete_survey_resig_df.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'institute_service'],
      dtype='object')

In [327]:
dete_survey_resig_df.loc[:,['job_dissatisfaction','dissatisfaction_with_the_department','dissatisfaction_with_the_department', \
                            'lack_of_recognition','lack_of_job_security','work_location','employment_conditions', \
                            'work_life_balance','workload']]

,job_dissatisfaction,dissatisfaction_with_the_department,dissatisfaction_with_the_department,lack_of_recognition,lack_of_job_security,work_location,employment_conditions,work_life_balance,workload
3,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,False,False
9,True,True,True,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
808,False,False,False,False,False,False,False,False,False
815,False,False,False,False,False,False,False,False,False
816,False,False,False,False,False,False,False,False,False
819,False,False,False,False,False,False,False,True,False
821,False,False,False,False,False,False,False,False,False

In [328]:
dete_survey_resig_df['dissatisfied'] = \
 dete_survey_resig_df.loc[:,['job_dissatisfaction','dissatisfaction_with_the_department','dissatisfaction_with_the_department', \
                            'lack_of_recognition','lack_of_job_security','work_location','employment_conditions', \
                            'work_life_balance','workload']].any(axis=1)

In [329]:
 dete_survey_resig_df.loc[:,['job_dissatisfaction','dissatisfaction_with_the_department','dissatisfaction_with_the_department', \
                            'lack_of_recognition','lack_of_job_security','work_location','employment_conditions', \
                            'work_life_balance','workload','dissatisfied']]

,job_dissatisfaction,dissatisfaction_with_the_department,dissatisfaction_with_the_department,lack_of_recognition,lack_of_job_security,work_location,employment_conditions,work_life_balance,workload,dissatisfied
3,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,True
8,False,False,False,False,False,False,False,False,False,False
9,True,True,True,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
808,False,False,False,False,False,False,False,False,False,False
815,False,False,False,False,False,False,False,False,False,False
816,False,False,False,False,False,False,False,False,False,False
819,False,False,False,False,False,False,False,True,False,True
821,False,False,False,False,False,False,False,False,False,False

#### A 'dissatisfied' flag has been added to both dataframes. Indicating if person left because they were dissatisfied

- drop any columns not required and then combine both datasets 
- Fix institue_service column values
- and last aggregate data based on no of years of employment

In [330]:
tafe_survey_resig_df.head()

,id,institute,workarea,cease_date,separationtype,contributing_factors._career_move_-_public_sector,contributing_factors._career_move_-_private_sector,contributing_factors._career_move_-_self-employment,contributing_factors._ill_health,contributing_factors._maternity/family,...,contributing_factors._travel,contributing_factors._other,contributing_factors._none,gender,age,employment_status,position,institute_service,role_service,dissatisfied
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010,Resignation,-,-,-,-,-,...,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN,False
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4,False
5,6.341475e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010,Resignation,-,-,-,-,-,...,-,Other,-,Female,56 or older,Contract/casual,Teacher (including LVT),7-10,7-10,False
6,6.341520e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010,Resignation,-,Career Move - Private Sector,-,-,Maternity/Family,...,-,Other,-,Male,20 or younger,Temporary Full-time,Administration (AO),3-4,3-4,False
7,6.341537e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010,Resignation,-,-,-,-,-,...,-,Other,-,Male,46 50,Permanent Full-time,Teacher (including LVT),3-4,3-4,False

In [331]:
dete_survey_resig_df.head()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb,institute_service,dissatisfied
3,4,Resignation-Other reasons,2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,Female,36-40,NaN,NaN,NaN,NaN,NaN,7.0,False
5,6,Resignation-Other reasons,2012,1994,1997,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,Female,41-45,NaN,NaN,NaN,NaN,NaN,18.0,True
8,9,Resignation-Other reasons,2012,2009,2009,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,...,False,Female,31-35,NaN,NaN,NaN,NaN,NaN,3.0,False
9,10,Resignation-Other employer,2012,1997,2008,Teacher Aide,NaN,Not Stated,NaN,Permanent Part-time,...,False,Female,46-50,NaN,NaN,NaN,NaN,NaN,15.0,True
11,12,Resignation-Move overseas/interstate,2012,2009,2009,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,False,Male,31-35,NaN,NaN,NaN,NaN,NaN,3.0,False

In [332]:
dete_survey_analyze = dete_survey_resig_df.loc[:,['id','separationtype'
                            ,'age','gender',
                            'employment_status','institute_service','dissatisfied',
                            'region']].copy()

In [333]:
dete_survey_analyze['institute_name'] = 'DETE'

In [334]:
tafe_survey_analyze = tafe_survey_resig_df.loc[:,['id','separationtype',
                            'age','gender',
                            'employment_status','institute_service','dissatisfied']].copy()

In [335]:
tafe_survey_analyze['institute_name'] = 'TAFE'

In [336]:
dete_survey_analyze.head()

,id,separationtype,age,gender,employment_status,institute_service,dissatisfied,region,institute_name
3,4,Resignation-Other reasons,36-40,Female,Permanent Full-time,7.0,False,Central Queensland,DETE
5,6,Resignation-Other reasons,41-45,Female,Permanent Full-time,18.0,True,Central Office,DETE
8,9,Resignation-Other reasons,31-35,Female,Permanent Full-time,3.0,False,North Queensland,DETE
9,10,Resignation-Other employer,46-50,Female,Permanent Part-time,15.0,True,Not Stated,DETE
11,12,Resignation-Move overseas/interstate,31-35,Male,Permanent Full-time,3.0,False,Far North Queensland,DETE

In [337]:
tafe_survey_analyze.head()

,id,separationtype,age,gender,employment_status,institute_service,dissatisfied,institute_name
3,6.341399e+17,Resignation,NaN,NaN,NaN,NaN,False,TAFE
4,6.341466e+17,Resignation,41 45,Male,Permanent Full-time,3-4,False,TAFE
5,6.341475e+17,Resignation,56 or older,Female,Contract/casual,7-10,False,TAFE
6,6.341520e+17,Resignation,20 or younger,Male,Temporary Full-time,3-4,False,TAFE
7,6.341537e+17,Resignation,46 50,Male,Permanent Full-time,3-4,False,TAFE

In [338]:
# Combine dete and tafe

survey_combined = tafe_survey_analyze.append(dete_survey_analyze)

In [339]:
survey_combined.head()

,id,separationtype,age,gender,employment_status,institute_service,dissatisfied,institute_name,region
3,6.341399e+17,Resignation,NaN,NaN,NaN,NaN,False,TAFE,NaN
4,6.341466e+17,Resignation,41 45,Male,Permanent Full-time,3-4,False,TAFE,NaN
5,6.341475e+17,Resignation,56 or older,Female,Contract/casual,7-10,False,TAFE,NaN
6,6.341520e+17,Resignation,20 or younger,Male,Temporary Full-time,3-4,False,TAFE,NaN
7,6.341537e+17,Resignation,46 50,Male,Permanent Full-time,3-4,False,TAFE,NaN

In [340]:
# Fixing institute_service column values

survey_combined.institute_service.value_counts()

Less than 1 year      73
1-2                   64
3-4                   63
5-6                   33
11-20                 26
5.0                   23
1.0                   22
7-10                  21
0.0                   20
3.0                   20
6.0                   17
4.0                   16
2.0                   14
9.0                   14
7.0                   13
More than 20 years    10
8.0                    8
13.0                   8
15.0                   7
20.0                   7
10.0                   6
12.0                   6
14.0                   6
17.0                   6
22.0                   6
16.0                   5
18.0                   5
11.0                   4
24.0                   4
23.0                   4
32.0                   3
19.0                   3
39.0                   3
21.0                   3
28.0                   2
36.0                   2
30.0                   2
26.0                   2
25.0                   2
27.0                   1
33.0                   1
35.0                   1
38.0                   1
29.0                   1
41.0                   1
42.0                   1
31.0                   1
49.0                   1
34.0                   1
Name: institute_service, dtype: int64

In [341]:
# Some options:
# -- Create function to group values based on if-else logic. And then use Apply() or map()
    # OR 
# -- Run a loop directly on the pandas series.


# New: Less than 3 years at a company
# Experienced: 3-6 years at a company
# Established: 7-10 years at a company
# Veteran: 11 or more years at a company

In [342]:
survey_combined.institute_service.dtype

dtype('O')

In [242]:
survey_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651 entries, 3 to 821
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 651 non-null    float64
 1   separationtype     651 non-null    object
 2   age                596 non-null    object
 3   gender             592 non-null    object
 4   employment_status  597 non-null    object
 5   institute_service  563 non-null    object
 6   dissatisfied       651 non-null    bool
 7   institute_name     651 non-null    object
 8   region             311 non-null    object
dtypes: bool(1), float64(1), object(7)
memory usage: 46.4+ KB

In [383]:
survey_combined.institute_service.isnull()

3       True
4      False
5      False
6      False
7      False
       ...
808    False
815    False
816    False
819    False
821     True
Name: institute_service, Length: 651, dtype: bool

In [423]:
survey_combined.institute_service = survey_combined.institute_service.astype('str')

In [424]:
survey_combined.institute_service.dtype

dtype('O')

In [428]:
survey_combined.institute_service.isnull().sum()

0

In [429]:
survey_combined.institute_service.head()

3     nan
4     3-4
5    7-10
6     3-4
7     3-4
Name: institute_service, dtype: object

In [430]:

def years_of_service_classif(series_entry):
    if series_entry in ['Less than 1 year','1-2','0.0','1.0','2.0']:
        return('New')
    elif series_entry in ['3-4','5-6','7-10','3.0','4.0','5.0','6.0','7.0','8.0','9.0','10.0']:
        return('Experienced')
    elif series_entry=='nan':
        return(np.nan)
    else:
        return('Veteran')

In [431]:
survey_combined.institute_service.apply(years_of_service_classif).value_counts()

Experienced    234
New            193
Veteran        136
Name: institute_service, dtype: int64

In [433]:
survey_combined.institute_service = survey_combined.institute_service.map(years_of_service_classif)

In [434]:
survey_combined.head()

,id,separationtype,age,gender,employment_status,institute_service,dissatisfied,institute_name,region
3,6.341399e+17,Resignation,NaN,NaN,NaN,NaN,False,TAFE,NaN
4,6.341466e+17,Resignation,41 45,Male,Permanent Full-time,Experienced,False,TAFE,NaN
5,6.341475e+17,Resignation,56 or older,Female,Contract/casual,Experienced,False,TAFE,NaN
6,6.341520e+17,Resignation,20 or younger,Male,Temporary Full-time,Experienced,False,TAFE,NaN
7,6.341537e+17,Resignation,46 50,Male,Permanent Full-time,Experienced,False,TAFE,NaN

#### Do analysis on Resignation based on Experience and Dissatisfaction